*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $clr-white;
}

body {
    font-family: $ff-light;
}

img {
    object-fit: cover;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}