$ff-light: 'Roboto-light', sans-serif;
$ff-regular: 'Roboto-regular', sans-serif;
$ff-bold: 'Roboto-bold', sans-serif;

$fs-S: .825rem;
$fs-L: 1.5rem;
$fs-XL: 3rem;
$fs-XXL: 4rem;

$clr-white: #fff;
$clr-white-secondary: rgba(255, 255, 255, 0.5);
$clr-black: rgba(19, 15, 15, 0.5);